* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
	background-color: #eee;
	width: 75%;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: auto;
	padding: 20px;
	margin-left: auto;
}

nav {
   background-color: #fff;
   border-bottom-style: solid;
   border-bottom-width: 5px ;
   border-bottom-color: #6dccde;
   height: 10vh;
   line-height: 10vh;
   text-align: center;
   
}

nav  a {
  text-decoration: none;
}

.nav-item {
 display: inline-block;
 padding-bottom: 5px;
 padding-top: 5px;
 padding-right: 10px;
 padding-left: 10px;
}

.active {
  background-color: #444;
  color: #6dccde; 
  padding: 5px;
  border-radius: 10px;
}

.footer {
  background-color: #fff;
  border-top-style: solid;
   border-top-width: 5px ;
   border-top-color: #6dccde;
   height: 10vh;
   line-height: 10vh;
}

.footer , h1 {
	font-style: 'Roboto', sans-serif;
	text-align: center;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;

}

#contact-footer {
	position: fixed;
	width: 100%;
	bottom:0;
	background-color: #fff;
  border-top-style: solid;
   border-top-width: 5px ;
   border-top-color: #6dccde;
   height: 10vh;
   line-height: 10vh;
}

footer {
	text-align: center;
}
.section ul , .section ol  {
  list-style: none;
  display: flex;
}
.section {
  display: flex;
  align-items: center;
  flex-direction: row;
}


.section li {
  
  color: #fff;
  padding: 10px;
  text-align: center;
}

.red-section {
  background-color: red;
}

.blue-section {
  background-color: blue; 
}

.section h2 {
  margin-bottom: 0;
  background-color: orange;
  padding: 20px;
}

#main table {
  background-color: #fff;
   width: 100%;
   text-align: center;
}

#header {
  text-align: center;
}
